{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
<body style="background-color: #ccc">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="text-center p-5">Login</h1>
    <div class="d-flex justify-content-center">
        <form action="{{ path('login') }}" method="post" class=" bg-light p-4 shadow rounded">
            <label for="username">Username:</label>
            <input class="form-control my-3" type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label for="password">Password:</label>
            <input class="form-control my-3" type="password" id="password" name="_password"/>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary px-4" type="submit">login</button>
            <div>
        </form>
    <div>
</body>
{% endblock %}